.mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.topComponent {
    position: absolute;
    top: 0;
    align-items: center;
    width: 800px;
    height: 98px;
    background-color: aqua;
}

.bottomComponent {

}