.componentHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: var(--msl-holder-cx, 400px);
    top: var(--msl-holder-cy, 310px);
    transform: translate(-50%, -50%);
    width: 660px;
    z-index: 3;
}