.componentBottom {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 800px;
  height: 120px;
  background-image: url(./ComponentBottomResourceStack/overlay_bottom.png);
  background-size: cover;
}