.mainDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-image: url('./ComponentTopResourceStack/overlay_top.png');
    background-size: cover;
}

.saveButton {
    width: 56px;
    height: 58px;
    margin-top: 8px;
    margin-left: 2px;
}

.bucketButton {
    width: 45px;
    height: 63px;
    margin-left: 40px;
    margin-top: 0px;
}

.middleDiv {
    width: 400px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
    margin-top: 13px;
}

.driveAction {
    width: 63px;
    height: 65px;
    margin-left: 40px;
    margin-top: 5px;
}

.goodBye {
    width: 90px;
    height: 80px;
    margin-top: 4px;
    margin-left: 1px;
}