.mainDiv {
    width: 100%;
    height: 100%;
    /* display: flex; */
    background-image: url('./ComponentTopResourceStack/overlay_top.png');
    background-size: cover;
}

.saveButton {
    width: '56px';
    height: '58px';
    top: 10px;
}