.helpComponent {
    position: relative;
    width: var(--help-bin-w, 169px);
    height: var(--help-bin-h, 123px);
    background-repeat: no-repeat;
    background-position: var(--help-bin-bg-x, center) var(--help-bin-bg-y, bottom);
    background-size: var(--help-bin-bg-w, 100%) var(--help-bin-bg-h, 100%);
}

.frameDiv {
    position: absolute;
    top: var(--help-frame-top, auto);
    bottom: var(--help-frame-bottom, 0px);
    left: var(--help-frame-left, 50%);
    transform: var(--help-frame-transform, translateX(-50%));
    width: var(--help-frame-w, 120px);
    height: var(--help-frame-h, 103px);
}