.paletteDiv {
    position: absolute;
    /* position: relative; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    height: 196px;
    width: 196px;
    /* background-color: #f5f5f5; */
    background-image: url('./PaletteResourceStack/color_mixer_board.png');
    right: 29.2%;
    top: 10%;
    z-index: 4;
}

.icon {
    position: absolute;
    transform-origin: center;
}

.icon-0 { 
    transform: rotate(0deg) translate(150px) rotate(0deg);
    margin-left: 50%;
 }
.icon-1 { transform: rotate(30deg) translate(150px) rotate(-30deg); }
.icon-2 { transform: rotate(60deg) translate(150px) rotate(-60deg); }
.icon-3 { transform: rotate(90deg) translate(150px) rotate(-90deg); }
.icon-4 { transform: rotate(120deg) translate(150px) rotate(-120deg); }
.icon-5 { transform: rotate(150deg) translate(150px) rotate(-150deg); }
.icon-6 { transform: rotate(180deg) translate(150px) rotate(-180deg); }
.icon-7 { transform: rotate(210deg) translate(150px) rotate(-210deg); }
.icon-8 { transform: rotate(240deg) translate(150px) rotate(-240deg); }
.icon-9 { transform: rotate(270deg) translate(150px) rotate(-270deg); }
.icon-10 { transform: rotate(300deg) translate(150px) rotate(-300deg); }
.icon-11 { transform: rotate(330deg) translate(150px) rotate(-330deg); }
.icon-12 { transform: rotate(360deg) translate(150px) rotate(-360deg); }
.icon-13 { transform: rotate(390deg) translate(150px) rotate(-390deg); }