.paletteDiv {
    position: absolute;
    height: 196px;
    width: 196px;
    background-image: url('./PaletteResourceStack/color_mixer_board.png');
    right: 29.2%;
    top: 10%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    position: absolute;
    transform-origin: center;
}

.icon-0 { transform: rotate(320deg) translate(73px) rotate(47deg); }
.icon-1 { transform: rotate(300deg) translate(73px) rotate(64deg); }
.icon-2 { transform: rotate(280deg) translate(70px) rotate(80deg); }
.icon-3 { transform: rotate(260deg) translate(70px) rotate(100deg); }
.icon-4 { transform: rotate(237deg) translate(70px) rotate(120deg); }
.icon-5 { transform: rotate(220deg) translate(70px) rotate(140deg); }
.icon-6 { transform: rotate(200deg) translate(70px) rotate(160deg); }
.icon-7 { transform: rotate(180deg) translate(70px) rotate(180deg); }
.icon-8 { transform: rotate(160deg) translate(70px) rotate(200deg); }
.icon-9 { transform: rotate(140deg) translate(70px) rotate(220deg); }
.icon-10 { transform: rotate(120deg) translate(70px) rotate(240deg); }
.icon-11 { transform: rotate(95deg) translate(70px) rotate(260deg); }
.icon-12 { transform: rotate(70deg) translate(70px) rotate(290deg); }
.icon-13 { transform: rotate(45deg) translate(72px) rotate(315deg); }