.paletteDiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 196px;
    width: 196px;
    background-color: #f5f5f5;
    background-image: url('./PaletteResourceStack/color_mixer_board.png');
    right: 29.5%;
}