.paletteDiv {
    position: absolute;
    height: 196px;
    width: 196px;
    background-image: url('./PaletteResourceStack/color_mixer_board.png');
    right: 29.2%;
    top: 10%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    position: absolute;
    transform-origin: center;
}

.icon-0 { transform: rotate(320deg) translate(70px) rotate(45deg); }
.icon-1 { transform: rotate(120deg) translate(70px) rotate(-120deg); }
.icon-2 { transform: rotate(150deg) translate(70px) rotate(-150deg); }
.icon-3 { transform: rotate(180deg) translate(70px) rotate(-180deg); }
.icon-4 { transform: rotate(210deg) translate(70px) rotate(-210deg); }
.icon-5 { transform: rotate(240deg) translate(70px) rotate(-240deg); }
.icon-6 { transform: rotate(270deg) translate(70px) rotate(-270deg); }
.icon-7 { transform: rotate(300deg) translate(70px) rotate(-300deg); }
.icon-8 { transform: rotate(330deg) translate(70px) rotate(-330deg); }
.icon-9 { transform: rotate(360deg) translate(70px) rotate(-360deg); }
.icon-10 { transform: rotate(390deg) translate(70px) rotate(-390deg); }
.icon-11 { transform: rotate(420deg) translate(70px) rotate(-420deg); }
.icon-12 { transform: rotate(450deg) translate(70px) rotate(-450deg); }
.icon-13 { transform: rotate(480deg) translate(70px) rotate(-480deg); }