.paletteDiv {
    position: absolute;
    height: 196px;
    width: 196px;
    background-image: url('./PaletteResourceStack/color_mixer_board.png');
    right: 29.2%;
    top: 10%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    position: absolute;
    transform-origin: center;
}

.icon-0 { transform: rotate(320deg) translate(73px) rotate(40deg); }
.icon-1 { transform: rotate(300deg) translate(73px) rotate(60deg); }
.icon-2 { transform: rotate(280deg) translate(73px) rotate(80deg); }
.icon-3 { transform: rotate(260deg) translate(73px) rotate(100deg); }
.icon-4 { transform: rotate(235deg) translate(73px) rotate(120deg); }
.icon-5 { transform: rotate(220deg) translate(73px) rotate(140deg); }
.icon-6 { transform: rotate(200deg) translate(73px) rotate(160deg); }
.icon-7 { transform: rotate(180deg) translate(73px) rotate(180deg); }
.icon-8 { transform: rotate(160deg) translate(73px) rotate(200deg); }
.icon-9 { transform: rotate(140deg) translate(73px) rotate(220deg); }
.icon-10 { transform: rotate(120deg) translate(73px) rotate(240deg); }
.icon-11 { transform: rotate(100deg) translate(73px) rotate(260deg); }
.icon-12 { transform: rotate(80deg) translate(73px) rotate(280deg); }
.icon-13 { transform: rotate(60deg) translate(73px) rotate(300deg); }