.paletteDiv {
    position: absolute;
    height: 196px;
    width: 196px;
    background-image: url('./PaletteResourceStack/color_mixer_board.png');
    right: 29.2%;
    top: 10%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    position: absolute;
    transform-origin: center;
}

.icon-0 { transform: rotate(320deg) translate(75px) rotate(35deg); }
.icon-1 { transform: rotate(300deg) translate(73px) rotate(60deg); }
.icon-2 { transform: rotate(275deg) translate(72px) rotate(70deg); }
.icon-3 { transform: rotate(250deg) translate(70px) rotate(90deg); }
.icon-4 { transform: rotate(225deg) translate(70px) rotate(120deg); }
.icon-5 { transform: rotate(205deg) translate(70px) rotate(140deg); }
.icon-6 { transform: rotate(185deg) translate(70px) rotate(165deg); }
.icon-7 { transform: rotate(165deg) translate(70px) rotate(185deg); }
.icon-8 { transform: rotate(145deg) translate(70px) rotate(215deg); }
.icon-9 { transform: rotate(125deg) translate(70px) rotate(235deg); }
.icon-10 { transform: rotate(105deg) translate(70px) rotate(255deg); }
.icon-11 { transform: rotate(85deg) translate(70px) rotate(275deg); }
.icon-12 { transform: rotate(65deg) translate(70px) rotate(295deg); }
.icon-13 { transform: rotate(45deg) translate(72px) rotate(315deg); }