.item {
    cursor: default;
}

.itemInteractive {
    cursor: pointer;
}

.iconComponentHolder {
    height: 72px;
    width: 71px;
}

.emptyMessage {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 13px;
    text-align: center;
    width: 70%;
    z-index: 1;
}