.snapshotBody {
    height: 530px;
    width: 519px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upArrowHolder {
    height: 26px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
}

.upArrow {
    width: 42px;
    height: 26px;
    z-index: 10;
}

.upArrowGreen {
    width: 42px;
    height: 26px;
    z-index: 10;
}

.body {
    display: grid;
    grid-template-columns: repeat(3, 42px); /* Creates 3 equal columns */
    grid-template-rows: repeat(3, 19px); /* Creates 3 equal columns */
    gap: 90px; /* Adjust the gap between items as needed */
    width: 446px;
    height: 350px;
    margin-top: 3%;
    margin-left: 13%;
}

.item {
    position: relative;
    width: 109px;
    height: 80px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc; /* Example border */
}

.highlightedImage {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.downArrowHolder {
    position: absolute;
    bottom: 23.5%;
    right: 46%;
    width: 42px;
    height: 26px;
    z-index: 9;
}

.downArrow {
    width: 42px;
    height: 26px;
    z-index: 10;
}

.downArrowGreen {
    width: 42px;
    height: 26px;
    z-index: 10;
}

.lowerContent {
    width: 75%;
    height: 13%;
    position: absolute;
    bottom: 9%;
    left: .5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 37px;
}

.iconComponentHolder {
    height: 72px;
    width: 71px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}

.helpComponentHolder {
    width: 140px;
    height: 103px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    bottom: 13%;
    right: 1%;
    z-index: 10;
}