.driveDiv {
    position: absolute;
    height: 196px;
    width: 196px;
    background-image: url('./DriveResourceStack/action_roll_menu.png');
    right: 29.2%;
    top: 8%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}