.iconComponent {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
  
.frameDiv {
    position: absolute;
    bottom: 0;
    left: 9%;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}