.componentHolder {
    display: flex;
    flex-direction: column;
    width: 660px;
    height: 587px;
    position: relative;
}

.headerHolder {
    display: flex;
    flex-direction: row;
    width: 519px;
    height: 57px;
}

.localWorldsHeader {
    background-image: url('./LocalWorldsResources/local_worlds_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 141px;
    height: 57px;
    margin-left: 10%;
}
.sharedWorldsHeader {
    background-image: url('../SharedWorlds/SharedWorldsResources/shared_worlds_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 141px;
    height: 57px;
    margin-left: 0.5%;
}

.worldsHolder {
    background-image: url('./LocalWorldsResources/light_drop_down.png');
    height: 530px;
    width: 519px;
}

.header {
    height: 26px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
}

.upArrow {
    background-image: url('./LocalWorldsResources/light_theme_scroll_up_5.png');
    width: 42px;
    height: 26px;
    z-index: 10;
}

.body {
    width: 446px;
    height: 350px;
    background-color: aqua;
    margin-left: 7%;
}

.footer {
    width: 517px;
    height: 115px;
    /* background-color: blue; */
}

.downArrow {
    width: 42px;
    height: 26px;
}