/* ProfileIcon.css */
.profileIcon {
    position: relative;
    display: inline-block;
  }
  
  .profileImage {
    width: 100%; 
    height: auto; 
  }
  
  .profileInput {
    border: none;
    background: none;
    outline: none;
    position: absolute;
    left: 57%; 
    top: 49%;
    width: 73%;
    transform: translate(-50%, -50%);
    color: #FFFFC6;
    font-size: 24px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
  }