.headerHolder {
    display: flex;
    flex-direction: row;
    width: 519px;
    height: 57px;
}

.localWorldsHeader {
    background-image: url('./WorldHeaderResourceStack/local_worlds_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 141px;
    height: 57px;
    margin-left: 10%;
}
.sharedWorldsHeader {
    background-image: url('./WorldHeaderResourceStack/shared_worlds_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 141px;
    height: 57px;
    margin-left: 0.5%;
}