.headerHolder {
    display: flex;
    flex-direction: row;
    width: 519px;
    height: 57px;
}

.localWorldsHeader {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 141px;
    height: 57px;
    margin-left: 9.7%;
    cursor: pointer;
}

.sharedWorldsHeader {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 141px;
    height: 57px;
    cursor: pointer;
}